<table *ngIf="leagueResults.length > 0">
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Games</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>Goal difference</th>
    <th>Points</th>
  </tr>
  <tr *ngFor="let result of leagueResults">
    <td>{{ result.rank }}</td>
    <td><img class="team-logo" src="{{ result.logo }}" /></td>
    <a routerLink="/team-details/{{result.idTeam}}"><td>{{ result.name }}</td></a>
    <td>{{ result.games }}</td>
    <td>{{ result.win }}</td>
    <td>{{ result.lose }}</td>
    <td>{{ result.draw }}</td>
    <td>{{ result.goalDifference }}</td>
    <td>{{ result.points }}</td>
  </tr>
</table>
